body {
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
}

#animated-image {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}